/* You can add global styles to this file, and also import other style files */
.exercise-section {
    margin: 5px;
    border: 1px solid blue;
}

.section-title {
    margin-left: 20px;
}

.section-item {
    margin: 15px;
}